In [1]:
import pandas  as pd
import numpy as np

In [2]:
college = pd.read_csv('data/college.csv',index_col='INSTNM')

In [58]:
city = college['CITY']
city

INSTNM
Alabama A & M University                                            Normal
University of Alabama at Birmingham                             Birmingham
Amridge University                                              Montgomery
University of Alabama in Huntsville                             Huntsville
Alabama State University                                        Montgomery
                                                                ...
SAE Institute of Technology  San Francisco                      Emeryville
Rasmussen College - Overland Park                            Overland Park
National Personal Training Institute of Cleveland         Highland Heights
Bay Area Medical Academy - San Jose Satellite Location            San Jose
Excel Learning Center-San Antonio South                        San Antonio
Name: CITY, Length: 7535, dtype: object

In [7]:
city.iloc[3]

'Huntsville'

In [10]:
city.iloc[[1,5,8]]

INSTNM
University of Alabama at Birmingham    Birmingham
The University of Alabama              Tuscaloosa
Auburn University at Montgomery        Montgomery
Name: CITY, dtype: object

In [12]:
city.iloc[1:20:3]

INSTNM
University of Alabama at Birmingham                Birmingham
Alabama State University                           Montgomery
Athens State University                                Athens
Birmingham Southern College                        Birmingham
South University-Montgomery                        Montgomery
Faulkner University                                Montgomery
George C Wallace State Community College-Dothan        Dothan
Name: CITY, dtype: object

In [13]:
# Now we turn to the .loc indexer, which selects only with index labels. Passing a
# single string returns a scalar value:
city.loc['The University of Alabama']

'Tuscaloosa'

In [21]:
# To select several disjoint labels, use a list:
np.random.seed(1)
city.loc[list(np.random.choice(city.index,4))]

INSTNM
Northwest HVAC/R Training Center                Spokane
California State University-Dominguez Hills      Carson
Lower Columbia College                         Longview
Southwest Acupuncture College-Boulder           Boulder
Name: CITY, dtype: object

In [59]:
city.loc['Alabama A & M University':'Excel Learning Center-San Antonio South':100]

INSTNM
Alabama A & M University                         Normal
GateWay Community College                       Phoenix
American Baptist Seminary of the West          Berkeley
De Anza College                               Cupertino
Brightwood College-San Diego                  San Diego
                                               ...
Park Place Premier Barber School            New Orleans
International School of Cosmetology          Costa Mesa
Harrison College-Indianapolis East         Indianapolis
Washington State University-Vancouver         Vancouver
Strayer University-North Raleigh Campus         Raleigh
Name: CITY, Length: 76, dtype: object

# Selecting DataFrame rows

In [62]:
college.iloc[60]

CITY                  Anchorage
STABBR                       AK
HBCU                        0.0
MENONLY                     0.0
WOMENONLY                   0.0
RELAFFIL                      0
SATVRMID                    NaN
SATMTMID                    NaN
DISTANCEONLY                0.0
UGDS                    12865.0
UGDS_WHITE               0.5747
UGDS_BLACK               0.0358
UGDS_HISP                0.0761
UGDS_ASIAN               0.0778
UGDS_AIAN                0.0653
UGDS_NHPI                0.0086
UGDS_2MOR                 0.098
UGDS_NRA                 0.0181
UGDS_UNKN                0.0457
PPTUG_EF                 0.4539
CURROPER                      1
PCTPELL                  0.2385
PCTFLOAN                 0.2647
UG25ABV                  0.4386
MD_EARN_WNE_P10           42500
GRAD_DEBT_MDN_SUPP      19449.5
Name: University of Alaska Anchorage, dtype: object

In [64]:
college.loc['University of Alaska Anchorage'].equals(college.iloc[60])

True

In [65]:
college.iloc[[1,5,8,123,555]]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
The University of Alabama,Tuscaloosa,AL,0.0,0.0,0.0,0,555.0,565.0,0.0,29851.0,...,0.0261,0.0268,0.0026,0.0844,1,0.2040,0.4010,0.0853,41900,23750
Auburn University at Montgomery,Montgomery,AL,0.0,0.0,0.0,0,486.0,509.0,0.0,4304.0,...,0.0297,0.0397,0.0246,0.2853,1,0.4192,0.5803,0.2930,35000,21335
Tucson College,Tucson,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,356.0,...,0.0140,0.0000,0.0140,0.0000,1,0.7164,0.6326,0.5317,22500,9499
Carrington College-Sacramento,Sacramento,CA,0.0,0.0,0.0,0,NaN,NaN,0.0,1385.0,...,0.0513,0.0000,0.0830,0.1343,1,0.7001,0.6241,0.5170,29600,12218.5

In [66]:
college.loc[['University of Alabama at Birmingham','The University of Alabama','Auburn University at Montgomery',\
            'Tucson College','Carrington College-Sacramento']]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
The University of Alabama,Tuscaloosa,AL,0.0,0.0,0.0,0,555.0,565.0,0.0,29851.0,...,0.0261,0.0268,0.0026,0.0844,1,0.2040,0.4010,0.0853,41900,23750
Auburn University at Montgomery,Montgomery,AL,0.0,0.0,0.0,0,486.0,509.0,0.0,4304.0,...,0.0297,0.0397,0.0246,0.2853,1,0.4192,0.5803,0.2930,35000,21335
Tucson College,Tucson,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,356.0,...,0.0140,0.0000,0.0140,0.0000,1,0.7164,0.6326,0.5317,22500,9499
Carrington College-Sacramento,Sacramento,CA,0.0,0.0,0.0,0,NaN,NaN,0.0,1385.0,...,0.0513,0.0000,0.0830,0.1343,1,0.7001,0.6241,0.5170,29600,12218.5

In [69]:
college.iloc[50:60]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
University of South Alabama,Mobile,AL,0.0,0.0,0.0,0,510.0,518.0,0.0,11267.0,...,0.0247,0.0382,0.0149,0.1942,1,0.3906,0.5729,0.2343,37300,24711
Spring Hill College,Mobile,AL,0.0,0.0,0.0,1,535.0,538.0,0.0,1215.0,...,0.0346,0.0222,0.0337,0.0305,1,0.2307,0.6873,0.0712,42800,27000
Southeastern Bible College,Birmingham,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,170.0,...,0.0059,0.0059,0.0294,0.2294,1,0.6398,0.7702,0.5466,30300,24000
Stillman College,Tuscaloosa,AL,1.0,0.0,0.0,1,448.0,424.0,0.0,1056.0,...,0.0000,0.0019,0.0009,0.1061,1,0.8436,0.8992,0.0533,25700,38218
Talladega College,Talladega,AL,1.0,0.0,0.0,1,NaN,NaN,0.0,819.0,...,0.0000,0.0000,0.0147,0.0818,1,0.5747,0.5956,0.1706,25100,27745
H Councill Trenholm State Community College,Montgomery,AL,1.0,0.0,0.0,0,NaN,NaN,0.0,1230.0,...,0.0024,0.0008,0.0024,0.4480,1,0.5337,0.0000,0.4560,23100,PrivacySuppressed
Troy University,Troy,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,15025.0,...,0.0244,0.0282,0.0455,0.4001,1,0.4537,0.6521,0.5332,35600,25000
Tuskegee University,Tuskegee,AL,1.0,0.0,0.0,0,455.0,465.0,0.0,2588.0,...,0.0000,0.0027,0.2148,0.0383,1,0.6300,0.7639,0.0368,36800,33500
United States Sports Academy,Daphne,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,90.0,...,0.0444,0.0000,0.3111,0.8111,1,0.4000,0.4632,0.4737,PrivacySuppressed,PrivacySuppressed
Bevill State Community College,Jasper,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,3210.0,...,0.0097,0.0000,0.0131,0.4277,1,0.5639,0.0000,0.3275,25900,PrivacySuppressed

In [70]:
college.iloc[40:100:15]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Northeast Alabama Community College,Rainsville,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,2225.0,...,0.0054,0.0045,0.0013,0.4117,1,0.5893,0.0000,0.2770,28300,4500
H Councill Trenholm State Community College,Montgomery,AL,1.0,0.0,0.0,0,NaN,NaN,0.0,1230.0,...,0.0024,0.0008,0.0024,0.4480,1,0.5337,0.0000,0.4560,23100,PrivacySuppressed
Empire Beauty School-Paradise Valley,Phoenix,AZ,0.0,0.0,0.0,1,NaN,NaN,0.0,25.0,...,0.0400,0.0000,0.0000,0.1600,0,0.6349,0.5873,0.4651,17800,9588
Southwest University of Visual Arts-Tucson,Tucson,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,161.0,...,0.0000,0.0000,0.1491,0.2795,1,0.4469,0.4292,0.8657,27200,49750

# Selecting DataFrame rows and columns simultaneously

In [71]:
college.iloc[:4,:6]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL
INSTNM,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0
Amridge University,Montgomery,AL,0.0,0.0,0.0,1
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0

In [72]:
college.iloc[2:4,1:3]

                                    STABBR  HBCU
INSTNM
Amridge University                      AL   0.0
University of Alabama in Huntsville     AL   0.0

In [73]:
college.loc[:'Amridge University', :'MENONLY']

                                           CITY STABBR  HBCU  MENONLY
INSTNM
Alabama A & M University                 Normal     AL   1.0      0.0
University of Alabama at Birmingham  Birmingham     AL   0.0      0.0
Amridge University                   Montgomery     AL   0.0      0.0

In [76]:
college.iloc[:,[4,15]].head()

                                     WOMENONLY  UGDS_NHPI
INSTNM
Alabama A & M University                   0.0     0.0019
University of Alabama at Birmingham        0.0     0.0007
Amridge University                         0.0     0.0000
University of Alabama in Huntsville        0.0     0.0002
Alabama State University                   0.0     0.0006

In [77]:
college.iloc[[100, 200], [7, 15]]

                                       SATMTMID  UGDS_NHPI
INSTNM
GateWay Community College                   NaN     0.0029
American Baptist Seminary of the West       NaN        NaN

In [78]:
rows = ['GateWay Community College',
'American Baptist Seminary of the West']
columns = ['SATMTMID', 'UGDS_NHPI']
college.loc[rows, columns]

                                       SATMTMID  UGDS_NHPI
INSTNM
GateWay Community College                   NaN     0.0029
American Baptist Seminary of the West       NaN        NaN

In [79]:
college.iloc[5, -4]

0.401

In [80]:
college.loc['The University of Alabama', 'PCTFLOAN']

0.401

In [81]:
college.iloc[90:80:-2, 5]

INSTNM
Empire Beauty School-Flagstaff     0
Charles of Italy Beauty College    0
Central Arizona College            0
University of Arizona              0
Arizona State University-Tempe     0
Name: RELAFFIL, dtype: int64

In [82]:
start = 'Empire Beauty School-Flagstaff'
stop = 'Arizona State University-Tempe'
college.loc[start:stop:-2, 'RELAFFIL']

INSTNM
Empire Beauty School-Flagstaff     0
Charles of Italy Beauty College    0
Central Arizona College            0
University of Arizona              0
Arizona State University-Tempe     0
Name: RELAFFIL, dtype: int64

In [84]:
college.iloc[:10].equals(college.iloc[:10, :])

True

# Selecting data with both integers and labels

In [86]:
col_start = college.columns.get_loc('UGDS_WHITE') #This will be printed
col_end = college.columns.get_loc('UGDS_UNKN') + 1 #+1 so will be printed
college.iloc[:5, col_start:col_end]

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100
Amridge University,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715
University of Alabama in Huntsville,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350
Alabama State University,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137

In [ ]:
# Selecting 10th till 15th inclusive
row_start = college.index[10]
row_end = college.index[15] #14th is the 15th, so 15 is correct
college.loc[row_start:row_end,'UGDS_WHITE':'UGDS_UNKN']

# Speeding up scalar selection

In [ ]:
# replace loc and iloc with iat and at if the values passed on to them are scalar.Saves time

# Slicing rows lexicographically

In [91]:
college = college.sort_index()
college

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
A & W Healthcare Educators,New Orleans,LA,0.0,0.0,0.0,0,NaN,NaN,0.0,40.0,...,0.0000,0.0000,0.0000,0.1250,1,0.7018,0.8596,0.6667,NaN,19022.5
A T Still University of Health Sciences,Kirksville,MO,0.0,0.0,0.0,0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,219800,PrivacySuppressed
ABC Beauty Academy,Garland,TX,0.0,0.0,0.0,0,NaN,NaN,0.0,30.0,...,0.0000,0.0000,0.0000,0.0000,0,0.7857,0.0000,0.8286,NaN,PrivacySuppressed
ABC Beauty College Inc,Arkadelphia,AR,0.0,0.0,0.0,0,NaN,NaN,0.0,38.0,...,0.0000,0.0000,0.0000,0.2105,1,0.9815,1.0000,0.4688,PrivacySuppressed,16500
AI Miami International University of Art and Design,Miami,FL,0.0,0.0,0.0,0,NaN,NaN,0.0,2778.0,...,0.0018,0.0025,0.4644,0.2185,1,0.5507,0.6966,0.3262,29900,31000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yukon Beauty College Inc,Yukon,OK,0.0,0.0,0.0,0,NaN,NaN,0.0,25.0,...,0.0000,0.0000,0.0000,0.0000,1,0.9259,0.8148,0.4706,PrivacySuppressed,PrivacySuppressed
Z Hair Academy,Lawrence,KS,0.0,0.0,0.0,0,NaN,NaN,0.0,95.0,...,0.0211,0.0000,0.0105,0.0000,1,0.7286,0.6571,0.1525,NaN,10500
Zane State College,Zanesville,OH,0.0,0.0,0.0,0,NaN,NaN,0.0,2063.0,...,0.0218,0.0000,0.2399,0.5730,1,0.3645,0.3434,0.3185,23800,13960.5
duCret School of Arts,Plainfield,NJ,0.0,0.0,0.0,0,NaN,NaN,0.0,41.0,...,0.0976,0.0000,0.0244,0.4146,1,0.4375,0.5000,0.1250,PrivacySuppressed,PrivacySuppressed
eClips School of Cosmetology and Barbering,Cape Girardeau,MO,0.0,0.0,0.0,0,NaN,NaN,0.0,83.0,...,0.0000,0.0000,0.0000,0.0000,1,0.9496,0.9832,0.3772,PrivacySuppressed,9500

In [96]:
college.loc['Cp':'Du']

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Crafton Hills College,Yucaipa,CA,0.0,0.0,0.0,0,NaN,NaN,0.0,5152.0,...,0.0526,0.0017,0.0027,0.6159,1,0.2319,0.0000,0.2772,32000,PrivacySuppressed
Cranbrook Academy of Art,Bloomfield Hills,MI,0.0,0.0,0.0,0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed
Crave Beauty Academy,Wichita,KS,0.0,0.0,0.0,0,NaN,NaN,0.0,171.0,...,0.0292,0.0058,0.0175,0.2456,1,0.4720,0.4880,0.3951,19400,9500
Craven Community College,New Bern,NC,0.0,0.0,0.0,0,NaN,NaN,0.0,2857.0,...,0.0308,0.0189,0.0375,0.5828,1,0.4701,0.2358,0.4695,28800,PrivacySuppressed
Crawford County Career and Technical Center Practical Nursing Program,Meadville,PA,0.0,0.0,0.0,0,NaN,NaN,0.0,27.0,...,0.0000,0.0000,0.0000,0.0000,1,0.7419,0.9677,0.4194,PrivacySuppressed,12276
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Drake College of Business-Newark,Newark,NJ,0.0,0.0,0.0,1,NaN,NaN,0.0,1023.0,...,0.0000,0.0000,0.0088,0.0000,0,1.0000,1.0000,0.7753,25200,9500
Drake University,Des Moines,IA,0.0,0.0,0.0,0,585.0,600.0,0.0,3290.0,...,0.0161,0.0733,0.0067,0.0350,1,0.1688,0.5211,0.0476,55700,24500
Drew University,Madison,NJ,0.0,0.0,0.0,1,560.0,550.0,0.0,1356.0,...,0.0361,0.0472,0.0848,0.0155,1,0.3081,0.5854,0.0221,50300,27000
Drexel University,Philadelphia,PA,0.0,0.0,0.0,0,580.0,620.0,0.0,16681.0,...,0.0284,0.1295,0.0224,0.1400,1,0.2059,0.5583,0.1823,62600,25500
Drury University,Springfield,MO,0.0,0.0,0.0,0,NaN,NaN,0.0,3790.0,...,0.0208,0.0454,0.0000,0.2731,1,0.5091,0.5760,0.4479,31700,23454