# Chapter 1: Pandas Foundations

## Recipes
* [Dissecting the anatomy of a DataFrame](#Dissecting-the-anatomy-of-a-DataFrame)
* [Accessing the main DataFrame components](#Accessing-the-main-DataFrame-components)
* [Understanding data types](#Understanding-data-types)
* [Selecting a single column of data as a Series](#Selecting-a-single-column-of-data-as-a-Series)
* [Calling Series methods](#Calling-Series-methods)
* [Working with operators on a Series](#Working-with-operators-on-a-Series)
* [Chaining Series methods together](#Chaining-Series-methods-together)
* [Making the index meaningful](#Making-the-index-meaningful)
* [Renaming row and column names](#Renaming-row-and-column-names)
* [Creating and deleting columns](#Creating-and-deleting-columns)

In [1]:
import pandas as pd
import numpy as np

# Dissecting the anatomy of a DataFrame

#### Change options to get specific output for book

In [6]:
pd.set_option("display.max_rows",8,"display.max_columns",10)

In [7]:
movie = pd.read_csv('../data/movie.csv')
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,...,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,...,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,...,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,...,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,...,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,...,NaN,12.0,7.1,NaN,0

![dataframe anatomy](./images/ch01_dataframe_anatomy.png)

# Accessing the main DataFrame components

In [8]:
columns = movie.columns
index = movie.index
data = movie.values

In [9]:
columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [10]:
index

RangeIndex(start=0, stop=4916, step=1)

In [11]:
data

array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
       ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
       ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
       ...,
       ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
       ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
       ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object)

In [10]:
type(index)

pandas.core.indexes.range.RangeIndex

In [11]:
type(columns)

pandas.core.indexes.base.Index

In [12]:
type(data)

numpy.ndarray

In [13]:
issubclass(pd.RangeIndex, pd.Index)

True

## There's more

In [14]:
index.values

array([   0,    1,    2, ..., 4913, 4914, 4915], dtype=int64)

In [15]:
columns.values

array(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes',
       'actor_2_name', 'actor_1_facebook_likes', 'gross', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users',
       'cast_total_facebook_likes', 'actor_3_name',
       'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
       'num_user_for_reviews', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score',
       'aspect_ratio', 'movie_facebook_likes'], dtype=object)

# Understanding data types

In [16]:
movie = pd.read_csv('../data/movie.csv')

In [17]:
movie.dtypes

color                       object
director_name               object
num_critic_for_reviews     float64
duration                   float64
director_facebook_likes    float64
                            ...
title_year                 float64
actor_2_facebook_likes     float64
imdb_score                 float64
aspect_ratio               float64
movie_facebook_likes         int64
Length: 28, dtype: object

In [19]:
movie.dtypes.value_counts()

float64    13
object     12
int64       3
dtype: int64

# Selecting a single column of data as a Series

In [20]:
movie = pd.read_csv('../data/movie.csv')

In [21]:
movie['director_name']

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [13]:
movie.director_name

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
              ...
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [23]:
type(movie['director_name'])

pandas.core.series.Series

## There's more

In [24]:
director = movie['director_name'] # save Series to variable
director.name

'director_name'

In [27]:
director.to_frame().head()

       director_name
0      James Cameron
1     Gore Verbinski
2         Sam Mendes
3  Christopher Nolan
4        Doug Walker

# Calling Series methods

## Getting ready...

In [14]:
s_attr_methods = set(dir(pd.Series))
len(s_attr_methods)

422

In [15]:
df_attr_methods = set(dir(pd.DataFrame))
len(df_attr_methods)

437

In [16]:
len(s_attr_methods & df_attr_methods)

367

## How to do it...

In [17]:
movie = pd.read_csv('../data/movie.csv')
director = movie['director_name']
actor_1_fb_likes = movie['actor_1_facebook_likes']

In [20]:
director.head()

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
Name: director_name, dtype: object

In [21]:
actor_1_fb_likes.head()

0     1000.0
1    40000.0
2    11000.0
3    27000.0
4      131.0
Name: actor_1_facebook_likes, dtype: float64

In [22]:
pd.set_option('display.max_rows', 8)
director.value_counts()

Steven Spielberg    26
Woody Allen         22
Martin Scorsese     20
Clint Eastwood      20
                    ..
Luca Guadagnino      1
Sam Fell             1
Dan Fogelman         1
Daniel Hsia          1
Name: director_name, Length: 2397, dtype: int64

In [23]:
actor_1_fb_likes.value_counts()

1000.0     436
11000.0    206
2000.0     189
3000.0     150
          ...
208.0        1
79.0         1
269.0        1
291.0        1
Name: actor_1_facebook_likes, Length: 877, dtype: int64

In [24]:
director.size

4916

In [25]:
director.shape

(4916,)

In [28]:
len(director)

4916

In [29]:
director.count()

4814

In [30]:
actor_1_fb_likes.count()

4909

In [33]:
actor_1_fb_likes.quantile()

982.0

In [37]:
actor_1_fb_likes.min(), actor_1_fb_likes.max(),\
actor_1_fb_likes.mean(), actor_1_fb_likes.median(), \
actor_1_fb_likes.std(), actor_1_fb_likes.sum()

(0.0, 640000.0, 6494.488490527602, 982.0, 15106.986883848309, 31881444.0)

In [40]:
actor_1_fb_likes.describe()

count      4909.000000
mean       6494.488491
std       15106.986884
min           0.000000
25%         607.000000
50%         982.000000
75%       11000.000000
max      640000.000000
Name: actor_1_facebook_likes, dtype: float64

In [41]:
director.describe()

count                 4814
unique                2397
top       Steven Spielberg
freq                    26
Name: director_name, dtype: object

In [43]:
actor_1_fb_likes.quantile(.2)

510.0

In [44]:
actor_1_fb_likes.quantile([.1, .2, .3, .4, .5, .6, .7, .8, .9])

0.1      240.0
0.2      510.0
0.3      694.0
0.4      854.0
        ...
0.6     1000.0
0.7     8000.0
0.8    13000.0
0.9    18000.0
Name: actor_1_facebook_likes, Length: 9, dtype: float64

In [45]:
director.isnull()

0       False
1       False
2       False
3       False
        ...
4912     True
4913    False
4914    False
4915    False
Name: director_name, Length: 4916, dtype: bool

In [46]:
actor_1_fb_likes_filled = actor_1_fb_likes.fillna(0)
actor_1_fb_likes_filled.count()

4916

In [47]:
actor_1_fb_likes_dropped = actor_1_fb_likes.dropna()
actor_1_fb_likes_dropped.size

4909

## There's more...

In [50]:
director.value_counts(normalize=True)

Steven Spielberg    0.005401
Woody Allen         0.004570
Martin Scorsese     0.004155
Clint Eastwood      0.004155
                      ...
Luca Guadagnino     0.000208
Sam Fell            0.000208
Dan Fogelman        0.000208
Daniel Hsia         0.000208
Name: director_name, Length: 2397, dtype: float64

In [53]:
director.hasnans

True

In [56]:
director.notnull()

0        True
1        True
2        True
3        True
        ...
4912    False
4913     True
4914     True
4915     True
Name: director_name, Length: 4916, dtype: bool

# Working with operators on a Series

In [ ]:
pd.options.display.max_rows = 6

In [ ]:
5 + 9    # plus operator example. Adds 5 and 9

In [ ]:
4 ** 2   # exponentiation operator. Raises 4 to the second power

In [ ]:
a = 10   # assignment operator.

In [ ]:
5 <= 9   # less than or equal to operator

In [ ]:
'abcde' + 'fg'    # plus operator for strings. C

In [ ]:
not (5 <= 9)      # not is an operator that is a reserved keyword and reverse a boolean

In [ ]:
7 in [1, 2, 6]    # in operator checks for membership of a list

In [60]:
set([1,2,3]) & set([2,3,4])

{2, 3}

In [40]:
[1, 2, 3] - 3

TypeError: unsupported operand type(s) for -: 'list' and 'int'

In [41]:
a = set([1,2,3])     
a[0]                 # the indexing operator does not work with sets

TypeError: 'set' object is not subscriptable

## Getting ready...

In [61]:
movie = pd.read_csv('../data/movie.csv')
imdb_score = movie['imdb_score']
imdb_score

0       7.9
1       7.1
2       6.8
3       8.5
       ...
4912    7.5
4913    6.3
4914    6.3
4915    6.6
Name: imdb_score, Length: 4916, dtype: float64

In [62]:
imdb_score + 1

0       8.9
1       8.1
2       7.8
3       9.5
       ...
4912    8.5
4913    7.3
4914    7.3
4915    7.6
Name: imdb_score, Length: 4916, dtype: float64

In [63]:
imdb_score * 2.5

0       19.75
1       17.75
2       17.00
3       21.25
        ...
4912    18.75
4913    15.75
4914    15.75
4915    16.50
Name: imdb_score, Length: 4916, dtype: float64

In [64]:
imdb_score // 7

0       1.0
1       1.0
2       0.0
3       1.0
       ...
4912    1.0
4913    0.0
4914    0.0
4915    0.0
Name: imdb_score, Length: 4916, dtype: float64

In [65]:
imdb_score > 7

0        True
1        True
2       False
3        True
        ...
4912     True
4913    False
4914    False
4915    False
Name: imdb_score, Length: 4916, dtype: bool

In [66]:
director = movie['director_name']

In [67]:
director == 'James Cameron'

0        True
1       False
2       False
3       False
        ...
4912    False
4913    False
4914    False
4915    False
Name: director_name, Length: 4916, dtype: bool

## There's more...

In [68]:
imdb_score.add(1)              # imdb_score + 1

0       8.9
1       8.1
2       7.8
3       9.5
       ...
4912    8.5
4913    7.3
4914    7.3
4915    7.6
Name: imdb_score, Length: 4916, dtype: float64

In [69]:
imdb_score.mul(2.5)            # imdb_score * 2.5

0       19.75
1       17.75
2       17.00
3       21.25
        ...
4912    18.75
4913    15.75
4914    15.75
4915    16.50
Name: imdb_score, Length: 4916, dtype: float64

In [70]:
imdb_score.floordiv(7)         # imdb_score // 7

0       1.0
1       1.0
2       0.0
3       1.0
       ...
4912    1.0
4913    0.0
4914    0.0
4915    0.0
Name: imdb_score, Length: 4916, dtype: float64

In [71]:
imdb_score.gt(7)               # imdb_score > 7

0        True
1        True
2       False
3        True
        ...
4912     True
4913    False
4914    False
4915    False
Name: imdb_score, Length: 4916, dtype: bool

In [72]:
director.eq('James Cameron')   # director == 'James Cameron'

0        True
1       False
2       False
3       False
        ...
4912    False
4913    False
4914    False
4915    False
Name: director_name, Length: 4916, dtype: bool

In [75]:
imdb_score.astype(int).pow(5)

0       16807
1       16807
2        7776
3       32768
        ...
4912    16807
4913     7776
4914     7776
4915     7776
Name: imdb_score, Length: 4916, dtype: int32

In [45]:
a = type(1)

In [46]:
type(a)

type

In [47]:
a = type(imdb_score)

In [48]:
a([1,2,3])

0    1
1    2
2    3
dtype: int64

# Chaining Series methods together

In [ ]:
movie = pd.read_csv('data/movie.csv')
actor_1_fb_likes = movie['actor_1_facebook_likes']
director = movie['director_name']

In [ ]:
director.value_counts().head(3)

In [ ]:
actor_1_fb_likes.isnull().sum()

In [ ]:
actor_1_fb_likes.dtype

In [ ]:
actor_1_fb_likes.fillna(0)\
                .astype(int)\
                .head()

## There's more...

In [76]:
actor_1_fb_likes.isnull().mean()

0.0014239218877135883

In [ ]:
(actor_1_fb_likes.fillna(0)
                 .astype(int)
                 .head())

# Making the index meaningful

In [78]:
movie = pd.read_csv('../data/movie.csv')

In [79]:
movie.shape

(4916, 28)

In [80]:
movie2 = movie.set_index('movie_title')
movie2

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,...,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,...,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,...,2007.0,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,...,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,...,2012.0,23000.0,8.5,2.35,164000
...,...,...,...,...,...,...,...,...,...,...,...
The Following,Color,NaN,43.0,43.0,NaN,...,NaN,593.0,7.5,16.00,32000
A Plague So Pleasant,Color,Benjamin Roberds,13.0,76.0,0.0,...,2013.0,0.0,6.3,NaN,16
Shanghai Calling,Color,Daniel Hsia,14.0,100.0,0.0,...,2012.0,719.0,6.3,2.35,660
My Date with Drew,Color,Jon Gunn,43.0,90.0,16.0,...,2004.0,23.0,6.6,1.85,456

In [82]:
pd.read_csv('../data/movie.csv', index_col='movie_title')

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,...,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,...,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,...,2007.0,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,...,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,...,2012.0,23000.0,8.5,2.35,164000
...,...,...,...,...,...,...,...,...,...,...,...
The Following,Color,NaN,43.0,43.0,NaN,...,NaN,593.0,7.5,16.00,32000
A Plague So Pleasant,Color,Benjamin Roberds,13.0,76.0,0.0,...,2013.0,0.0,6.3,NaN,16
Shanghai Calling,Color,Daniel Hsia,14.0,100.0,0.0,...,2012.0,719.0,6.3,2.35,660
My Date with Drew,Color,Jon Gunn,43.0,90.0,16.0,...,2004.0,23.0,6.6,1.85,456

# There's more...

In [83]:
movie2.reset_index()

,movie_title,color,director_name,num_critic_for_reviews,duration,...,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Avatar,Color,James Cameron,723.0,178.0,...,2009.0,936.0,7.9,1.78,33000
1,Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,...,2007.0,5000.0,7.1,2.35,0
2,Spectre,Color,Sam Mendes,602.0,148.0,...,2015.0,393.0,6.8,2.35,85000
3,The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,...,2012.0,23000.0,8.5,2.35,164000
...,...,...,...,...,...,...,...,...,...,...,...
4912,The Following,Color,NaN,43.0,43.0,...,NaN,593.0,7.5,16.00,32000
4913,A Plague So Pleasant,Color,Benjamin Roberds,13.0,76.0,...,2013.0,0.0,6.3,NaN,16
4914,Shanghai Calling,Color,Daniel Hsia,14.0,100.0,...,2012.0,719.0,6.3,2.35,660
4915,My Date with Drew,Color,Jon Gunn,43.0,90.0,...,2004.0,23.0,6.6,1.85,456

# Renaming row and column names

In [85]:
movie = pd.read_csv('../data/movie.csv', index_col='movie_title')

In [86]:
idx_rename = {'Avatar':'Ratava', 'Spectre': 'Ertceps'} 
col_rename = {'director_name':'Director Name', 
              'num_critic_for_reviews': 'Critical Reviews'}

In [87]:
movie.rename(index=idx_rename, 
             columns=col_rename).head()

,color,Director Name,Critical Reviews,duration,director_facebook_likes,...,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,
Ratava,Color,James Cameron,723.0,178.0,0.0,...,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,...,2007.0,5000.0,7.1,2.35,0
Ertceps,Color,Sam Mendes,602.0,148.0,0.0,...,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,...,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,...,NaN,12.0,7.1,NaN,0

# There's more

In [88]:
movie = pd.read_csv('../data/movie.csv', index_col='movie_title')
index = movie.index
columns = movie.columns

index_list = index.tolist()
column_list = columns.tolist()

index_list[0] = 'Ratava'
index_list[2] = 'Ertceps'
column_list[1] = 'Director Name'
column_list[2] = 'Critical Reviews'

In [ ]:
print(index_list[:5])

In [ ]:
print(column_list)

In [89]:
movie.index = index_list
movie.columns = column_list

In [90]:
movie.head()

,color,Director Name,Critical Reviews,duration,director_facebook_likes,...,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
Ratava,Color,James Cameron,723.0,178.0,0.0,...,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,...,2007.0,5000.0,7.1,2.35,0
Ertceps,Color,Sam Mendes,602.0,148.0,0.0,...,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,...,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,...,NaN,12.0,7.1,NaN,0

# Creating and deleting columns

In [91]:
movie = pd.read_csv('../data/movie.csv')

In [92]:
movie['has_seen'] = 0

In [93]:
movie.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes', 'has_seen'],
      dtype='object')

In [94]:
movie['actor_director_facebook_likes'] = (movie['actor_1_facebook_likes'] + 
                                              movie['actor_2_facebook_likes'] + 
                                              movie['actor_3_facebook_likes'] + 
                                              movie['director_facebook_likes'])

In [95]:
movie['actor_director_facebook_likes'].isnull().sum()

122

In [96]:
movie['actor_director_facebook_likes'] = movie['actor_director_facebook_likes'].fillna(0)

In [97]:
movie['is_cast_likes_more'] = (movie['cast_total_facebook_likes'] >= 
                                  movie['actor_director_facebook_likes'])

In [98]:
movie['is_cast_likes_more'].all()

False

In [99]:
movie = movie.drop('actor_director_facebook_likes', axis='columns')

In [ ]:
movie['actor_total_facebook_likes'] = (movie['actor_1_facebook_likes'] + 
                                       movie['actor_2_facebook_likes'] + 
                                       movie['actor_3_facebook_likes'])

movie['actor_total_facebook_likes'] = movie['actor_total_facebook_likes'].fillna(0)

In [ ]:
movie['is_cast_likes_more'] = movie['cast_total_facebook_likes'] >= \
                                  movie['actor_total_facebook_likes']
    
movie['is_cast_likes_more'].all()

In [ ]:
movie['pct_actor_cast_like'] = (movie['actor_total_facebook_likes'] / 
                                movie['cast_total_facebook_likes'])

In [ ]:
movie['pct_actor_cast_like'].min(), movie['pct_actor_cast_like'].max()

In [ ]:
movie.set_index('movie_title')['pct_actor_cast_like'].head()

## There's more...

In [ ]:
profit_index = movie.columns.get_loc('gross') + 1
profit_index

In [ ]:
movie.insert(loc=profit_index,
                 column='profit',
                 value=movie['gross'] - movie['budget'])

In [ ]:
movie.head()