In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
movie = pd.read_csv("data/movie.csv")
movie.head() # Head accepts a single number which defined number of rows displayed. Similarly, same for tail()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [11]:
index = movie.index
print(index)
print(type(index))
columns = movie.columns
# print(column)
print(type(columns))
data = movie.values
# print(data)
print(type(data))

RangeIndex(start=0, stop=4916, step=1)
<class 'pandas.core.indexes.range.RangeIndex'>
<class 'pandas.core.indexes.base.Index'>
<class 'numpy.ndarray'>

In [13]:
movie.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [18]:
movie.dtypes.value_counts() #get_dtype_counts depreciated. Use this now

float64    13
object     12
int64       3
dtype: int64

In [20]:
# Retrieving single columns as series
#Method 1
movie['director_name'] #Intelligent suggestions will not work for method 1

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
Name: director_name, dtype: object

In [21]:
#Method 2
movie.director_name # Not best practice. Colmn name with spaces and special characters cannot be used

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [22]:
type(movie.director_name) # The output is a series

pandas.core.series.Series

In [23]:
director = movie['director_name']
director.name #that the old column name is now the name of the Series and has actually become an attribute

'director_name'

In [25]:
# It is possible to turn this Series into a one-column DataFrame with the to_frame method.
# This method will use the Series name as the new column name:

director.to_frame()

          director_name
0         James Cameron
1        Gore Verbinski
2            Sam Mendes
3     Christopher Nolan
4           Doug Walker
...                 ...
4911        Scott Smith
4912                NaN
4913   Benjamin Roberds
4914        Daniel Hsia
4915           Jon Gunn

[4916 rows x 1 columns]

In [32]:
actor_1_fb_likes = movie['actor_1_facebook_likes']
director.head()
actor_1_fb_likes.head() #returns a series

print(director.value_counts()) #value count returns a series with index as unique values and count as values
print(actor_1_fb_likes.value_counts())

Steven Spielberg    26
Woody Allen         22
Martin Scorsese     20
Clint Eastwood      20
Ridley Scott        16
                    ..
John Putch           1
Luca Guadagnino      1
Sam Fell             1
Dan Fogelman         1
Daniel Hsia          1
Name: director_name, Length: 2397, dtype: int64
1000.0     436
11000.0    206
2000.0     189
3000.0     150
12000.0    131
          ...
703.0        1
208.0        1
79.0         1
269.0        1
291.0        1
Name: actor_1_facebook_likes, Length: 877, dtype: int64

In [35]:
print(director.size) #size of the series
print(actor_1_fb_likes.size) #size returns a scalar

4916
4916

In [52]:
director.shape # Returns a one-item tuple

(4916,)

In [39]:
print(director.count()) #returns the number of non-missing values
print(actor_1_fb_likes.count())

4814
4909

In [40]:
print(director.describe()) #Describe method to return list of important attributes
#returns a series with all summary objects as index and statistic as values

count                 4814
unique                2397
top       Steven Spielberg
freq                    26
Name: director_name, dtype: object

In [41]:
print(actor_1_fb_likes.describe())#Describe method to return list of important attributes - different for strings and float

count      4909.000000
mean       6494.488491
std       15106.986884
min           0.000000
25%         607.000000
50%         982.000000
75%       11000.000000
max      640000.000000
Name: actor_1_facebook_likes, dtype: float64

In [46]:
print(actor_1_fb_likes.quantile([.1,.2,.3,.4,.5,.6,.7,.8,.9])  ) 
print(actor_1_fb_likes.quantile(.4))     #The quantile method exists to calculate an exact quantile of numeric data:
#returns scalar when single value passed, but returns series when list passed

0.1      240.0
0.2      510.0
0.3      694.0
0.4      854.0
0.5      982.0
0.6     1000.0
0.7     8000.0
0.8    13000.0
0.9    18000.0
Name: actor_1_facebook_likes, dtype: float64
854.0

In [48]:
#The isnull method may be used to determine whether each individual value is missing or not
director.isnull() #returns a series

0       False
1       False
2       False
3       False
4       False
        ...
4911    False
4912     True
4913    False
4914    False
4915    False
Name: director_name, Length: 4916, dtype: bool

In [49]:
#It is possible to replace all missing values within a Series with the fillna method
actor_1_fb_likes_filled = actor_1_fb_likes.fillna(0)    # returns a series

actor_1_fb_likes_filled.count()

4916

In [50]:
#To remove the Series elements with missing values, use dropna:
actor_1_fb_likes_dropped = actor_1_fb_likes.dropna()   # returns a series

In [55]:
# The value_counts method is one of the most informative Series methods and heavily used 
# during exploratory analysis, especially with categorical columns. It defaults to returning the
# counts, but by setting the normalize parameter to True, the relative frequencies are
# returned instead, which provides another view of the distribution:
director.value_counts(normalize=True)

Steven Spielberg    0.005401
Woody Allen         0.004570
Martin Scorsese     0.004155
Clint Eastwood      0.004155
Ridley Scott        0.003324
                      ...
John Putch          0.000208
Luca Guadagnino     0.000208
Sam Fell            0.000208
Dan Fogelman        0.000208
Daniel Hsia         0.000208
Name: director_name, Length: 2397, dtype: float64